
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

  main {
    min-height: 80vh;
  }
  
  h3 {
    font-size: 1.1rem;
    padding: 0.5rem 0;
    font-weight:500;
    
    
  }
  
  h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
    color: #212B5C
  }

  h5 {
      font-size: 1.5rem;
      padding: 0.5rem 0;
      color: #212B5C;
      font-family: 'Architects Daughter', cursive;
      
  }

  .desctiprion-allergene {
     font-size: 1.4rem;
      padding: 0.5rem 0;
      color: #AF1025;
      font-family: 'Architects Daughter', cursive;
  }

  h4 {
     font-size: 2rem;
      padding: 0.5rem 0;
      color: #212B5C;
      font-family: 'Architects Daughter', cursive;
  }
  
  h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
    color: #AF1025;
    font-weight:500;
  }
  
  .rating span {
    margin: 0.1rem;
  }
  
  .card {
    padding: 0.5rem 0;
    margin: auto;
  }
  
  .ul {
    text-decoration: none;
  }
  .il {
    text-decoration: none;
  }

  a {
    text-decoration: none;
    color: #212B5C
  }
  .navbar-collapse {
    text-decoration: none;
   
  }

  .images {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    flex-shrink: 0;
  }
  .card-body {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .card-title .card-text {
    padding: 20px;
    background: white;
    display: flex;
  }
  .assess  {
    margin: auto;
    margin-bottom: -2em;
  }
  .product_assess {
     padding: auto;
  }
  .assess-rewiews{
    font-size: 1.1rem;
    color: #212B5C;
    font-family: 'Architects Daughter', cursive;
  }
  .price-product {
    font-size: 1.1rem;
    color: #212B5C;
    font-family: 'Architects Daughter', cursive;
    padding-left: 11em;
    
   
  }

  .alert {
    color:white;
    font-size: 1em;
    padding-top: 0.5em;
  }

  .title-product{
    font-size: 1.1rem;
    padding: 0.5rem 0;
    color: #AF1025;
    font-family: 'Architects Daughter', cursive;

  }

  .description {
    font-size: 1.2rem;
    color: #212B5C;
    font-family: 'Architects Daughter', cursive;
  }

  .form-review {
    font-size: 1.2rem;
    color: #212B5C;
    font-family: 'Architects Daughter', cursive;
   
  }

  .form-title-input {
    font-size: 1.2rem;
    color: #212B5C;
    font-family: 'Architects Daughter', cursive;
  }

  hr {
    color:#AF1025;
    background-color: '#000000';
    width:  10em ;
    border-color: '#000000';
  }

  #name {
    color:black;
    font-weight: bold;
  }

  #user {
    color:rgb(223, 80, 27);
    font-weight: bold;
  }



  
  

  
  