main {
    min-height: 80vh;
  }
  
  h3 {
    padding: 1rem 0;
  }
  
  h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
    color: #212B5C
  }

  h5 {
    color: #212B5C
  }
  
  h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
  }
  
  .rating span {
    margin: 0.1rem;
  }
  
  .card {
    padding: 0.5rem 0;
    margin: auto;
  }
  
  .ul {
    text-decoration: none;
  }
  .il {
    text-decoration: none;
  }

  a {
    text-decoration: none;
    color: #212B5C
  }
  .navbar-collapse {
    text-decoration: none;
   
  }

  .images {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    flex-shrink: 0;
  }
  .card-body {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .card-title .card-text {
    padding: 20px;
    background: white;
    display: flex;
  }
  .assess  {
    margin: auto;
    margin-bottom: -1.5em;
   
  }

  .product_assess {
     
     padding: auto;
  }
  .price {
    
    padding-left: 14em;
    color:chocolate;
   
  }

  .alert {
    color:white;
    font-size: 1em;
    width: 200px;
    height: 40px;
    
    padding-top: 0.5em;
  }

  

  
  